.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#bootstrap-overrides .card {
    border-radius: 100px;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}